.button {
  background: rgb(227, 168, 58);
  color: white;
  outline: none;
  border: none;
  padding: 0.5em 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all;
  transition-duration: 80ms;
}

.button:hover {
  background: rgb(235, 190, 106);
}

.button:active {
  background: rgb(106, 214, 235);
}

.button .subtitle {
  color: rgba(255, 255, 255, 0.656);
}
